/cache

# ENVIRONMENT FILES
.env
.env.local
.env.production

config.json
env.json

config.php
env.php

#IDE's

/.idea
*.iml

# Dependency-managers
/modules
/uppm_target
/vendor
/node_modules
/uppm.locks.json
/composer.lock

# testing
/_modules
/_vendor