# This is an example for a reverse proxy for the redirect proxy to have SSL

{
	email --EXAMPLE_EMAIL--

	on_demand_tls {
		ask --BASEURL--/v1/domains/domain-exists
	}
}

https:// {
	tls {
		on_demand
	}
	reverse_proxy --REDIRECT_PROXY_IP--
}
