* {
    padding: 0px;
    margin: 0px;
    font-family: Jost, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 0;
    letter-spacing: none;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.contents {
    max-width: 990px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

.firstcontents {
    padding-top: 60px;
}

#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px auto;
    border-inline-width: 100px;
    padding: 0px 60px;
    box-sizing: border-box;
    height: 65px;
    line-height: 65px;
    transition: 0.3s;
    z-index: 1000;
}

.nav_scrolled {
    background: #FFFFFF;
}

.nav_scrolled a,
.nav_scrolled a:link,
.nav_scrolled a:visited {
    color: #323232;
}

.nav_not_scrolled a,
.nav_not_scrolled a:link,
.nav_not_scrolled a:visited {
    color: #323232;
}

.nav_scrolled {
    box-shadow: rgba(0, 0, 0, 0.55) 0px -38px 18px 34px;
}

.link_black,
.link_black:link,
.link_black:visited {
    color: #323232;
    text-decoration: none;
}

#nav a,
#nav a:link,
#nav a:visited {
    text-decoration: none;
}

#logo {
    font-size: 18px;
}

#logo img {
    height: 30px;
    vertical-align: middle;
    margin-right: 14px;
}

#logo span {
    vertical-align: middle;
}

#navmenu {
    float: right;
}

#navmenu a {
    margin-left: 15px;
}

#navmenu a:hover {
    opacity: 0.7;
}

.noSelection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.shortlink {
    background: #FFFFFF;
    max-width: 960px;
    display: flex;
    border-radius: 10px;
    margin: 0px auto;
}

.shortlinkinput {
    width: calc(100% - 100px);
    border: none;
    font-size: 21px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 20px;
    border: #FFFFFF solid 2px;
    box-sizing: border-box;
}

#shortlinkdomain {
    background: transparent;
    border: none;
    padding-right: 5px;
    margin-right: 10px;
    font-size: 18px;
    color: #111111;xTmziVn08aGt94o7oMlcin1MwN2ebZ89SJZ5rKhyWKa9L6w2GKc4Re4rEoN03F2aKntWgwLzsO7s0FARSpORSiwNgfZBPFm4zWAl

}

.shortlinkinput:focus {
    border: #105DE6 solid 2px;
}

.shortlinksubmit {
    padding: 15px 25px;;
    background: #105de6;
    color: #FFFFFF;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    border-radius: 0px 9.8px 9.8px 0px;
    background: #105de6;
    background: -moz-linear-gradient(left,  #105de6 0%, #2290e5 100%);
    background: -webkit-linear-gradient(left,  #105de6 0%,#2290e5 100%);
    background: linear-gradient(to right,  #105de6 0%,#2290e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105de6', endColorstr='#2290e5',GradientType=1 );
}


#footer {
    background: url("/assets/images/footer.svg");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 30px 0px;
    margin-top: 40px;
}

#footer_inner {
    display: flex;
    margin: 0px auto;
    padding: 0px 70px;
    box-sizing: border-box;
}


#footer_inner #copyright {
    right: 0px; 
    position: absolute; 
    margin-top: 7px; 
    margin-right: 70px;
    color: #AEAEAE;
    padding-top: 0px;
}

#footer_inner img {
    vertical-align: middle;
    margin-right: 20px;
}

#footer_inner a,
#footer_inner a:link,
#footer_inner a:visited {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 8px;
}

#dashboard {
    margin-top: 70px;
}

#dashboardsidenav {
    width: 260px;
    height: 100%;
    position: fixed;
    top: 65px;
}

.dashboardnavlink,
.dashboardnavlink:visited,
.dashboardnavlink:link {
    display: block;
    padding-left: 30px;
    padding: 10px 40px;
    border-radius: 0px 120px 120px 0px;
    text-decoration: none;
    color: #323232;
}

.dashboardnavlink:hover {
    background: #EEEEEE;
}

.dashboardnavselected {
    background: #105de644;
    color: #105de6;
}

.dashboardnavlink i {
    vertical-align: middle;
    margin-right: 12px;
}

.dashboardnavlink span {
    vertical-align: middle;
}

#dashboardcontents {
    margin-left: 260px;
    padding: 0px 60px;
    box-sizing: border-box;
    overflow: auto;
}

.flatInput {
    width: 100%;
    border: 2px solid #EEEEEE;
    background: #FFFFFF;
    padding: 8px;
    margin: 10px 0px;
    display: block;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    border-radius: 5px;
    transition: 0.3s;
    box-sizing: border-box;
}

.flatInput:hover {
    border: 2px solid #4542f4;
}

.flatInput:focus {
    border: 2px solid #4542f4;
}

body {
    background: url(/assets/images/background.svg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-repeat: repeat-y;
    background-position: top;
    background-size: inherit;
    background-size: cover;
}

#dashboardsidenav {
    background: #FFFFFF;
}
    
@media screen and (max-width: 720px) {

    #footer_inner {
        text-align: center;
        display: block;
    }
    
    #footer_inner #copyright {
        display: block;
        position: relative; 
        margin-top: 7px; 
        margin-bottom: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #footer_inner img {
        display: block;
        margin: 10px auto;
    }
    
    #footer_inner a,
    #footer_inner a:link,
    #footer_inner a:visited {
        display: block;
        margin-right: 0px;
        display: block;
        padding-top: 2px;
    }
    
    .footerseparator {
        display: none !important;
    }

    #nav {
        padding: 0px 20px;
    }
}


.button {
    padding: 10px 22px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #00000033;
    transition: 0.3s box-shadow;
    text-align: center;
    user-select: none;
    border: none;
    text-decoration: none;
    background: #4542f4;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

.datatable {
    width: 100%;
}

.datatable .dt-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0 101px;
}

.datatable .dt-table tr {
    border-top: 1px solid #00000022;
}

.datatable .dt-table td {
    padding: 4px;
    white-space: nowrap;

    max-width: 100px;
    overflow: hidden;
}

.datatable .dt-table td.dt-buttons {
    text-align: end;
}

.datatable .dt-previous-page, .datatable .dt-next-page {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    margin: 0px 5px;
}

.datatable .dt-previous-page:hover,
.datatable .dt-next-page:hover {
    background: #00000022;
    cursor: pointer;
    border-radius: 100px;
}

.datatable .dt-search {
    float: right;
}

.datatable .dt-pagination {
    float: right;
}

.datatable .dt-rows-per-page {
    background: transparent;
}


.alert_title {
    text-align: center;
    width: calc(100% - 100px);
}

#snackbar {
    background-color: #ffffff;
    color: #17fc2e;
    text-align: center;
    border-radius: 3px;
    padding: 16px 32px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: 0.3s;
    opacity: 0;
}

#snackbar.show {
    transform: translate(-50%, 0%);
    transition: 0.5s;
    opacity: 1;
}

@media screen and (max-width: 720px) {
    .alert_contents {
        height: 100%;
        width: 390px;
        margin: auto;
    }

    .alert_alert {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .alert_contents {
        width: 300px;
    }
}