/* */
$primary: #4542f4;
$primaryAlpha: #4542f411;

$defaultBackground: #FFFFFF;
$pageBackground: #FFFFFF;
// $pageBackground: #EEF0F8;
$textDefault: #444444;
$labelColor: #878787;
$iconsColor: #656565;

$borderColor: #EEEEEE;
/* DARKT * /
$primary: #4542f4;
$primaryAlpha: #4542f411;

$defaultBackground: #12253b;

$pageBackground: #18304b;

$textDefault: #FFFFFF;
$labelColor: #FFFFFF99;
$iconsColor: #FFFFFF;

$borderColor: #152d47;
/* */